NEXT_PUBLIC_API_BASE_URL=http://localhost:8001/api/v1
NEXT_PUBLIC_WHATSAPP_NUMBER=919999999999
NEXT_PUBLIC_INSTAGRAM_HANDLE=appaammas.pickles
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ENABLE_PAYMENTS=true
